# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

# Django
SECRET_KEY=
DEBUG=True

REDIS_HOST=
REDIS_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=